---
import BentoBox from '@/components/layout/BentoBox.astro';
import Header from '@/components/page/Header.astro';
import { hardware, software } from '@/config';
import { Link } from '@/components/Link';
import { LinkIcon } from 'lucide-react';
---

<Header 
  title="Equipment" 
  subtitle="The following is a selection of my equipment that I use for my professional work." 
/>

<section id="setup">
  <div class="max-w-6xl mx-auto">
    <!-- Hardware Section -->
    <div class="mb-12">
      <h3 class="text-2xl font-semibold mb-4">Hardware</h3>
      <BentoBox padding>
        <ul>
          {hardware.map(item => (
            <li class="mb-4">
              <div class="flex flex-col">
                <div class="flex items-center gap-1">
                  <span class="font-bold text-lg">{item.title}</span>
                  {item.url && (
                    <Link
                      href={item.url}
                      target="_blank"
                      rel={item.external ? "noopener noreferrer" : undefined}
                      className="hover:text-foreground transition-colors duration-200"
                      aria-label={`Open link for ${item.title}`}
                    >
                      <LinkIcon className="h-4 w-4 inline-block" />
                    </Link>
                  )}
                </div>
                {item.usage && (
                  <span class="text-sm text-gray-500">{item.usage}</span>
                )}
                {item.details && (
                  <span class="text-sm text-muted-foreground">{item.details}</span>
                )}
              </div>
            </li>
          ))}
        </ul>
      </BentoBox>
    </div>

    <!-- Software Section -->
    <div class="mb-12">
      <h3 class="text-2xl font-semibold mb-4">Software</h3>
      <BentoBox padding>
        <ul>
          {software.map(item => (
            <li class="mb-4">
              <div class="flex flex-col">
                <div class="flex items-center gap-1">
                  <span class="font-bold text-lg">{item.title}</span>
                  {item.url && (
                    <Link
                      href={item.url}
                      target="_blank"
                      rel={item.external ? "noopener noreferrer" : undefined}
                      className="hover:text-foreground transition-colors duration-200"
                      aria-label={`Open link for ${item.title}`}
                    >
                      <LinkIcon className="h-4 w-4 inline-block" />
                    </Link>
                  )}
                </div>
                {item.details && (
                  <span class="text-sm text-muted-foreground">{item.details}</span>
                )}
              </div>
            </li>
          ))}
        </ul>
      </BentoBox>
    </div>
  </div>
</section>
