---
import BentoBox from '@/components/layout/BentoBox.astro';
import Header from '@/components/page/Header.astro';
import { hardware, software } from '@/config';
---

<Header title="Equipment" subtitle="The following is a selection of my equipment that I use for my professional work."></Header>

<section id="setup">
  <div class="max-w-6xl">
    {/* Hardware Section */}
    <div class="mb-12">
      <h3 class="text-2xl font-semibold mb-4">Hardware</h3>
      <BentoBox padding>
        <ul>
          {hardware.map(item => (
            <li>
              <div class="flex flex-col">
                {item.url ? (
                  <a 
                    href={item.url} 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    class="font-bold text-lg text-primary hover:underline"
                  >
                    {item.title}
                  </a>
                ) : (
                  <span class="font-bold text-lg">{item.title}</span>
                )}
                {item.details && (
                  <span class="text-sm text-muted-foreground">{item.details}</span>
                )}
              </div>
            </li>
          ))}
        </ul>
      </BentoBox>
    </div>

    {/* Software Section */}
    <div class="mb-12">
      <h3 class="text-2xl font-semibold mb-4">Software</h3>
      <BentoBox padding>
        <ul>
          {software.map(item => (
            <li>
              <div class="flex flex-col">
                {item.url ? (
                  <a 
                    href={item.url} 
                    target="_blank" 
                    rel="noopener noreferrer" 
                    class="font-bold text-lg text-primary hover:underline"
                  >
                    {item.title} 
                    <span class="text-sm text-gray-500">{item.usage}</span>
                    <span class="text-sm text-gray-500">({item.pricing})</span>
                  </a>
                ) : (
                  <span class="font-bold text-lg">{item.title}</span>
                  <span class="text-sm text-gray-500">{item.usage}</span>
                  <span class="text-sm text-gray-500">({item.pricing})</span>
                )}
                {item.details && (
                  <span class="text-sm text-muted-foreground">{item.details}</span>
                )}
              </div>
            </li>
          ))}
        </ul>
      </BentoBox>
    </div>
  </div>
</section>
