---
import { identity, position } from '@/config';
import BentoBox from '@/components/layout/BentoBox.astro';
---
<section class="mt-8">
  <BentoBox className="p-6">
    <div class="flex flex-col sm:flex-row items-center sm:space-x-6">
      {/* Avatar */}
      <div class="flex-shrink-0">
        <img 
          src={identity.avatar} 
          alt={`Avatar of ${identity.name}`} 
          class="w-32 h-32 rounded-full border shadow-sm" 
        />
      </div>
      {/* Details */}
      <div class="mt-4 sm:mt-0 text-center sm:text-left">
        <h2 class="text-2xl font-bold text-foreground">{identity.name}</h2>
        <p class="mt-2 text-sm text-muted-foreground">
          Currently working at <span class="text-primary">{position.company.name}</span> as <span class="text-primary">{position.jobTitle}</span> in <span class="text-primary">{position.company.location}</span>
        </p>
        <div class="mt-4">
          <a 
            href="/resume.pdf" 
            class="inline-flex items-center px-4 py-2 text-sm font-medium text-background bg-primary rounded-3xl transition-all duration-300 hover:ring-2 hover:ring-gray-600"
          >
            Resume
          </a>
        </div>
      </div>
    </div>
  </BentoBox>
</section>
