---
import Header from "@/components/page/Header.astro";
import BentoBox from "@/components/layout/BentoBox.astro";
import { testimonials } from "@/config";
---

<section id="testimonials" class="py-12">
  <Header title="Testimonials" subtitle="What people that know me are saying." />
  <div class="max-w-6xl mx-auto mt-8 grid grid-cols-1 md:grid-cols-2 gap-8">
    {testimonials.map(testimonial => (
      <BentoBox className="p-6">
        <div class="text-center">
          <img 
            src={testimonial.avatar} 
            alt={`Profile picture of ${testimonial.name}`} 
            class="w-24 h-24 rounded-full mx-auto"
          />
          <h3 class="mt-4 text-2xl font-bold">{testimonial.name}</h3>
          <p class="text-sm text-muted-foreground mt-1">{testimonial.jobTitle}</p>
          <p class="mt-4 text-lg text-gray-700 dark:text-gray-300">{testimonial.text}</p>
          <div class="mt-4 flex justify-center space-x-4">
            {testimonial.links.map(link => (
              <a 
                href={link.url} 
                target="_blank" 
                rel="noopener noreferrer"
                class="text-sm font-medium text-primary hover:underline"
              >
                {link.title}
              </a>
            ))}
          </div>
        </div>
      </BentoBox>
    ))}
  </div>
</section>
