---
import PageLayout from "@/layouts/PageLayout.astro";
import { buttonVariants } from "@/components/ui/button";
import { projectsPageContent } from "@/config";
import BentoBox from "@/components/layout/BentoBox.astro";

const projects = projectsPageContent.projects;

const { seo, page } = projectsPageContent;
---
<PageLayout
  seo={seo}
  page={page}
>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
    {projects.map((project) => (
      <BentoBox 
        className="relative overflow-hidden border aspect-square rounded-lg shadow-md hover:shadow-lg transition duration-300 flex flex-col h-full group" 
        padding={false}
        hoverHighlight={true}
      >
        <img 
          src={project.image} 
          alt={project.description} 
          loading="lazy" 
          class="absolute inset-0 object-cover w-full h-full" 
        />
        <a
          href={project.url} 
          aria-label={`Read more about ${project.title}`}
          class="relative z-10 flex flex-col h-full bg-black/50 text-white p-6"
        >
          <div class="flex flex-col flex-grow">
            <h2 class="text-xl font-bold mb-2 line-clamp-2">{project.title}</h2>
            <p class="mb-4 flex-grow line-clamp-3">
              {project.description}
            </p>
            <button 
              class={buttonVariants({ variant: 'default' }) + " mt-auto self-start"}
            >
              Read More
            </button>
          </div>
        </a>
      </BentoBox>
    ))}
  </div>
</PageLayout>
